<!-- app/views/qualifications/index.html.erb -->
<%= search_form_for @q, remote: true, html: { class: "search-form" } do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="input-group">
        <%= f.search_field :name_cont, placeholder: "資格名で検索", class: "form-control", id: "q_name_cont" %>
        <%= f.submit '検索', class: "btn btn-primary ms-2" %>
      </div>
    </div>
  </div>
<% end %>

<div id="results">
  <%= render partial: 'qualifications_list', locals: { qualifications: @qualifications } %>
</div>
