<main class="main">
  <div class="inner">
  
    <div class="qualifications">
      <div class="qualifications-header">
        <h2>資格情報一覧</h2>
      </div>
      <div class="qualifications-list">
        <% @qualifications.each do |qualification| %>
          <div class="qualification">
            <h3><%= qualification.name %></h3>
            <p><%= link_to '詳細を見る', qualification.official_url, target: '_blank' %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
