<% breadcrumb :user_profile, @user %>

<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title mb-4">プロフィール</h2>

      <div class="mb-3 border-bottom">
        <label class="form-label">ニックネーム</label>
        <p class="form-control-plaintext"><%= @user.nickname %></p>
      </div>

      <div class="mb-3 border-bottom">
        <label class="form-label">資格</label>
        <p class="form-control-plaintext">
          <%= @user.profile.present? ? @user.profile : "取得した資格が設定されていません。" %>
        </p>
      </div>

      <% if current_user == @user %> <!-- ログインユーザーと表示対象のユーザーが同じか確認 -->
        <%= link_to '編集', edit_user_path(@user), class: 'btn btn-primary me-2' %>
      <% end %>
    </div>
  </div>
</div>